###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

###< symfony/framework-bundle ###

/node_modules/
/backend/var/
/frontend/var/
/backend/vendor/
/frontend/node_modules/
/backend/node_modules/